*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', sans-serif;
}

body, div {
    color: #333;
}

body {
    background-color: #f4f4f4;
}

.flex-container {
    display: flex;
    align-items: center;
}

.top-bar {
    background-color: #90121E; 
    text-align: center;
    padding: 8px 0;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.pre-nav-content button{
    background-color: #90121E;
    border: none;
    color: white;
    font-size: large;
    cursor: pointer;
}

.pre-nav-content{
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3%;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    display: none;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.logo {
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;
}

.nav-links {
    display: flex;
}

.nav-link {
    margin: 0 12px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.nav-link:hover {
    color: #4a154b;
}

.header-right {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #835FEA;
    box-shadow: 0 2px 3px #835FEA;
    border-radius: 8px;
    width: 250px;
}

.search-icon button{
    margin-right: 8px;
    color: #777;
    background-color: white;
    height: 100%;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.search-placeholder input {
    color: #999;
    font-size: 14px;
    height: 40px;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: none;
    padding-left: 10px;
    outline: none;
}

.user-icons {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 10px;
    cursor: pointer;
}

.mobile-search-icon {
    display: none;
}

.main-banner {
    width: 95%;
    height: auto;
    aspect-ratio: 2.65/1;
    border-radius: 20px;
    margin: 10px auto;
    background-image: url('https://cdn.shopify.com/s/files/1/1982/7331/files/Artboard_2_3673608b-c95d-49e9-bcd6-6a0e63704a5a.jpg?v=1765428319');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.page-title-bar {
    padding: 20px 3%;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.page-title {
    font-size: 24px;
    font-weight: 700;
}

.item-count {
    font-size: 16px;
    color: #777;
    margin-left: 10px;
    font-weight: 500;
}

.main-content {
    display: flex;
    padding: 20px 3%;
    background-color: #fff;
}

.filters-sidebar {
    width: 20%;
    min-width: 220px;
    padding-right: 20px;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.filter-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.filter-title img {
    margin-right: 8px;
}

.sort-by {
     display: flex;
     align-items: center;
     font-size: 14px;
     font-weight: 500;
     cursor: pointer;
     padding: 8px 12px;
     border: 1px solid #ddd;
     border-radius: 8px;
}

.sort-text {
    margin-right: 5px;
}

.filter-group {
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 0;
}

.filter-group-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}

.filter-option {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.filter-checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.product-list-container {
    flex: 1; 
}

.product-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; 
}

.product-card {
    width: calc(33.333% - 20px);
    margin: 0 10px 30px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.03);
}

.product-image-container {
    position: relative;
}

.product-image {
    width: 100%;
    padding-top: 133%; 
    background-size: cover;
    background-position: top center;
    border-radius: 12px 12px 0 0;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 700;
}

.badge.best-seller {
    background-color: #388e3c; 
}

.wishlist-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.product-info {
    padding: 15px;
}

.product-title {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.product-price {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.current-price {
    font-size: 18px;
    font-weight: 700;
    color: #212121;
    margin-right: 8px;
}

.old-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    margin-right: 8px;
}

.discount {
    font-size: 14px;
    font-weight: 600;
    color: #388e3c;
}

.best-price-info {
    font-size: 12px;
    font-weight: 600;
    color: #388e3c;
    margin-bottom: 15px;
}
.best-price-info .fa-circle-check {
    margin-right: 4px;
}

.add-to-cart-btn {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: #131814;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    border:1px solid lightgrey;
}

.footer {
    background-color: #00AA68;
    color: white;
    padding: 50px 5%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    width: 20%;
    min-width: 180px;
    margin-bottom: 30px;
}

.footer-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: black;
}

.footer-link {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-social-link {
     display: flex;
     align-items: center;
     font-size: 14px;
     margin-bottom: 12px;
     cursor: pointer;
}

.footer-social-link .icon {
    font-size: 18px;
    margin-left: 0;
    margin-right: 10px;
    color: black;
}

.footer-subscribe {
    width: 100%;
    padding: 30px 0;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.subscribe-title {
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    color: white;
}

.subscribe-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.subscribe-input input{
    flex: 1;
    padding: 14px 18px;
    border: none;
    border-radius: 8px 0 0 8px;
    font-size: 15px;
    color: #555;
    background-color: white;
    width: 100%;
}

.subscribe-btn button {
    padding: 14px 25px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #A740AF;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 900px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .filters-sidebar {
        display: none;
    }

    .product-list-container {
        width: 100%;
    }

    .product-card {
        width: calc(50% - 14px);
        margin: 0 7px 20px 7px;
    }
    
    .main-content {
        padding: 20px 2%;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px 3%;
    }
    
    .search-bar {
        display: none;
    }

    .mobile-search-icon {
        display: block;
    }
    
    .logo img {
        width: 120px;
    }
    
    .user-icons .icon img {
        height: 24px !important;
    }

    .page-title {
        font-size: 18px;
    }
    
    .item-count {
        font-size: 14px;
    }

    .product-grid {
        margin: 0 -5px;
    }

    .product-card {
        width: calc(50% - 10px);
        margin: 0 5px 15px 5px;
        border-radius: 8px;
    }
    
    .product-image {
        border-radius: 8px 8px 0 0;
    }
    
    .product-info {
        padding: 10px;
    }
    
    .product-title {
        font-size: 13px;
    }
    
    .current-price {
        font-size: 15px;
    }
    
    .old-price, .discount {
        font-size: 11px;
    }
    
    .add-to-cart-btn {
        padding: 8px;
        font-size: 12px;
    }

    .footer {
        padding: 30px 5%;
    }
    
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer-column {
        width: 100%;
        margin-bottom: 25px;
    }
    
    .footer-social-link {
        justify-content: center;
    }
    
    .footer-subscribe {
        flex-direction: column;
    }
    
    .subscribe-title {
        font-size: 2em;
        margin-bottom: 20px;
    }
    
    .subscribe-form {
        flex-direction: column;
        width: 100%;
    }
    
    .subscribe-input {
        width: 100%;
    }
    
    .subscribe-input input {
        border-radius: 8px;
        margin-bottom: 10px;
    }
    
    .subscribe-btn {
        width: 100%;
    }
    
    .subscribe-btn button {
        width: 100%;
        border-radius: 8px;
    }
}