*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '-apple-system', 'BlinkMacSystemFont', "Segoe UI", 'Roboto, Arial', sans-serif;
}

body {
  background: #eee;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 380px;
  background: #faf9f7;
  display: flex;
  flex-direction: column;
}

.cart-header {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e2dd;
}

.cart-header h3 {
  font-size: 18px;
  font-weight: 600;
}

.close {
  cursor: pointer;
  font-size: 18px;
}

.shipping {
  padding: 16px 18px;
}

.shipping p {
  font-size: 14px;
  margin-bottom: 10px;
}

.progress {
  height: 4px;
  background: #e1ded9;
}

.progress span {
  display: block;
  height: 100%;
  width: 0%;
  background: #000;
}

.tabs {
  display: flex;
  gap: 22px;
  padding: 14px 18px;
  border-bottom: 1px solid #e5e2dd;
}

.cart-header a {
  text-decoration: none ;
  color: black;
}

.tabs span {
  font-size: 14px;
  color: #8a8a8a;
}

.tabs .active {
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 6px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  padding: 18px;
  overflow-y: auto;
}

.product {
  text-align: left;
}

.product-image {
  width: 100%;
  aspect-ratio: 3 / 4;
  background-color: #e5e2dd;
  background-image: var(--img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 8px;
  border-radius: 2px;
  overflow: hidden;
}

.product-image::after {
  content: "Image";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #9a9a9a;
  letter-spacing: 0.5px;
  background: linear-gradient(
    135deg,
    #ededed,
    #e2e2e2
  );
}

.product-image[style*="url"]::after {
  display: none;
}


.product h4 {
  font-size: 13px;
  font-weight: 500;
}

.product p {
  font-size: 13px;
  margin: 4px 0;
}

.colors {
  display: flex;
  gap: 6px;
}

.colors span {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
}

.cart-footer {
  margin-top: auto;
  padding: 18px;
  border-top: 1px solid #e5e2dd;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.cart-footer p {
  font-size: 12px;
  color: #777;
  margin-bottom: 14px;
}

button {
  width: 100%;
  padding: 14px;
  background: #9b9b9b;
  color: white;
  border: none;
  font-size: 15px;
}

@media (max-width: 768px) {
  .cart {
    width: 100%;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  .products {
    grid-template-columns: 1fr;
  }

  .cart-header h3 {
    font-size: 16px;
  }
}
